services:
  himalaya:
    image: ghcr.io/pimalaya/himalaya:latest
    container_name: visor-levelup-himalaya
    env_file:
      - .levelup.env
    environment:
      - TZ=${TZ:-Europe/Vienna}
      - HIMALAYA_IMAP_HOST=${HIMALAYA_IMAP_HOST}
      - HIMALAYA_IMAP_PORT=${HIMALAYA_IMAP_PORT:-993}
      - HIMALAYA_SMTP_HOST=${HIMALAYA_SMTP_HOST}
      - HIMALAYA_SMTP_PORT=${HIMALAYA_SMTP_PORT:-465}
      - HIMALAYA_EMAIL=${HIMALAYA_EMAIL}
      - HIMALAYA_PASSWORD=${HIMALAYA_PASSWORD}
      - HIMALAYA_USE_TLS=${HIMALAYA_USE_TLS:-true}
    volumes:
      - /root/code/visor/data/levelups/himalaya:/data
    networks:
      - proxy
      - levelup-himalaya
    restart: unless-stopped

networks:
  proxy:
    name: visor-proxy
  levelup-himalaya:
    name: visor-levelup-himalaya
